{% load static %}

<html lang="fr">
<head>
    <title>Pur Beurre</title>

    <link rel="icon" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "index.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static "index.js" %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<section class="hero is-dark is-fullheight __home-hero">
    <div class="__home-overlay"></div>
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <header class="navbar is-fixed-top is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="{% static "logo_pur_beurre.png" %}" alt="Logo">
                        <h1 class="ml-4">Pur Beurre</h1>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroC" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <form class="is-marginless" method="post" action="{% url "index" %}">
                                {% csrf_token %}

                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        {{ form.search_term }}
                                    </div>
                                    <div class="control">
                                        <button type="submit" class="button is-primary is-rounded">
                                            Rechercher
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-user fa-2x"></i>
                            </span>
                        </a>

                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt fa-2x"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Du gras oui, mais de qualité !
            </h1>
            <h2 class="subtitle">
                Trouvez un produit de substitution pour ceux que vous consommez tous les jours
            </h2>
            <form class="m-10" method="post" action="{% url "index" %}">
                {% csrf_token %}

                <div class="field has-addons">
                    <div class="control is-expanded">
                        {{ form.search_term }}
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-primary is-rounded">
                            Rechercher
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-2 has-text-centered">Colette et Rémy</h2>

        <p class="subtitle has-text-centered p-8">
            Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement
            rencontrés dans notre excellent restaurant Ratatouille.
        </p>

        <div class="columns is-centered is-multiline">
            <div class="column is-flex is-5-desktop is-12-touch">
                <div class="card">
                    <div class="card-image p-4">
                        <figure class="image is-4by3">
                            <img class="object-contain" src="{% static "colette.png" %}" alt="">
                        </figure>
                    </div>

                    <div class="card-content">
                        <h4 class="title is-4 has-text-rooibos">Colette</h4>

                        <p>
                            Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin
                            rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis
                            rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que
                            j'avais l'habitude d'acheter par de bons produits du terroir. Et souvent pour le même prix !
                        </p>
                    </div>
                </div>
            </div>

            <div class="column is-flex is-5-desktop is-12-touch">
                <div class="card">
                    <div class="card-image p-4">
                        <figure class="image is-4by3">
                            <img class="object-contain" src="{% static "remy.png" %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h4 class="title is-4 has-text-rooibos">Rémy</h4>

                        <p>
                            Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les
                            cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les
                            aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je
                            savais tout de suite où le trouver. L'idée de Pur Beurre était née !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-2 has-text-centered">Contactez-nous !</h2>

        <div class="columns is-centered is-multiline mt-8">
            <div class="column is-5-desktop is-12-touch">
                <div class="notification is-primary is-flex flex-col items-center">
                    <figure class="image is-128x128 __phone has-background-white mb-8" style="mask-size: cover"></figure>
                    <p class="title is-3">01 00 00 00 00</p>
                </div>
            </div>

            <div class="column is-5-desktop is-12-touch">
                <div class="notification is-primary is-flex flex-col items-center">
                    <figure class="image is-128x128 __enveloppe has-background-white mb-8" style="mask-size: cover"></figure>
                    <p class="title is-3">mail@mail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

<footer class="footer has-text-centered">
    <div class="columns">
        <div class="column">
            <a>Mentions légales</a>
        </div>

        <div class="column">
            <a>Contact</a>
        </div>

        <div class="column">
            <a class="has-text-rooibos">Made in France, with ❤️ by @RoroTiti</a>
        </div>
    </div>
</footer>
</html>