@charset "utf-8"
@import "~bulma/bulma"

.__home-hero
  background: url('/assets/home_background.jpg') center center
  background-size: cover

.__home-overlay
  background: rgba(0, 0, 0, 0.50)
  position: absolute
  width: 100%
  height: 100%