@charset "utf-8"
@import "~tailwindcss/utilities"

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Scope+One&display=swap')

$family-primary: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-secondary: "Scope One", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

@import "~bulma/bulma"

.__home-hero
  background: url('/assets/home_background.jpg') center center
  background-size: cover

.__home-overlay
  background: rgba(0, 0, 0, 0.4)
  position: absolute
  width: 100%
  height: 100%

.navbar
  transition: background-color 300ms ease

.__home_navbar
  background-color: rgba(0, 0, 0, 1) !important