@charset "utf-8";

@import "~tailwindcss/utilities";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Scope+One&display=swap');

$rooibos: #c45525;
$rooibos-invert: findColorInvert($rooibos);
$moules: #345a61;
$moules-invert: findColorInvert($moules);
$rigolo: #86ebe6;
$rigolo-invert: findColorInvert($rigolo);
$caramel: #de9440;
$caramel-invert: findColorInvert($caramel);
$biscuit: #e8a75d;
$biscuit-invert: findColorInvert($biscuit);

$primary: $rooibos;

$family-primary: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Scope One", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "~bulma/sass/utilities/derived-variables";

$addColors: (
        "rooibos":($rooibos, $rooibos-invert),
        "moules": ($moules, $moules-invert),
        "rigolo": ($rigolo, $rigolo-invert),
        "caramel": ($caramel, $caramel-invert),
        "biscuit": ($biscuit, $biscuit-invert)
);

$colors: map-merge($colors, $addColors);

@import "~bulma/bulma";

.__home-hero {
  background: url('/assets/home_background.jpg') center center;
  background-size: cover;
}

.__home-overlay {
  background: rgba($dark, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar {
  transition: background-color 300ms ease;
}

.__home_dark_navbar {
  background-color: $dark !important;
}