{% extends "app/layout.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">Se connecter à mon compte</h2>

            {% if form.non_field_errors %}
                <div class="notification is-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="field">
                    <label class="label">Adresse email</label>

                    <div class="control">
                        {{ form.username }}
                    </div>

                    <p class="help is-danger">
                        {% for error in signup_form.errors.email %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>

                <div class="field">
                    <label class="label">Mot de passe</label>

                    <div class="control">
                        {{ form.password }}
                    </div>

                    <p class="help is-danger">
                        {% for error in signup_form.errors.password1 %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button class="button is-primary m-8" type="submit">Se connecter</button>
                    </div>
                </div>

                <input type="hidden" name="next" value="/">
            </form>
        </div>
    </section>
{% endblock %}