<div class="__modal-details modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <div class="__loading-details is-flex flex-col items-center">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div class="__placeholder-details"></div>
        </section>

        <footer class="modal-card-foot">
            <a class="button is-primary" target="_blank">Voir la fiche d'OpenFoodFacts</a>
        </footer>
    </div>
</div>
