{% extends "app/layout.html" %}

{% load static %}

{% block content %}
    <script src="{% static "js/substitutes.js" %}"></script>
    <script src="{% static "js/saved_substitutes.js" %}"></script>

    <section class="section">
        <div class="container">
            {% if substitutes|length > 0 %}
                {% for substitute in substitutes %}
                    <div class="card mb-5">
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-flex justify-between items-center">
                                    {{ substitute.product.display_name }}

                                    <a class="__open-modal-details button is-primary"
                                       data-code="{{ substitute.product.code }}"
                                       data-name="{{ substitute.product.display_name }}">
                                        <span class="icon">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                        <span>Détails</span>
                                    </a>
                                </div>

                                <div class="column is-flex justify-between items-center">
                                    {{ substitute.substitute.display_name }}

                                    <a class="__open-modal-details button is-primary"
                                       data-code="{{ substitute.substitute.code }}"
                                       data-name="{{ substitute.substitute.display_name }}">
                                        <span class="icon">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                        <span>Détails</span>
                                    </a>
                                </div>
                            </div>

                            <a class="button is-danger is-fullwidth __open-modal-confirm" data-id="{{ substitute.id }}">
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span>Supprimer</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="notification is-warning">
                    Vous n'avez actuellement enregistré aucun substitut.
                </div>
            {% endif %}
        </div>
    </section>

    <div class="__modal-confirm modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Confirmation</p>
                <button class="delete" aria-label="close"></button>
            </header>

            <section class="modal-card-body">
                <p>Souhaitez-vous vraiment supprimer cet enregistrement ?</p>
            </section>

            <form method="post" action="{% url "my_substitutes" %}">
                <footer class="modal-card-foot">
                    {% csrf_token %}
                    <input type="hidden" name="product_substitute_id">
                    <button type="submit" class="button is-primary __confirm-delete">Oui</button>
                    <a class="button __cancel-delete">Non</a>
                </footer>
            </form>
        </div>
    </div>

    {% include "app/product_details_modal.html" %}
{% endblock %}